fastapi==0.75.1
sqlalchemy==1.4.35
mysqlclient==2.1.0
uvicorn[standard]==0.17.6
python-dotenv==0.20.0
strawberry-graphql[fastapi]==0.114.0

# Dev dependencies
pre-commit==2.18.1
pytest==7.1.2
pytest-cov==3.0.0
black==22.3.0